API_ID=23428332
API_HASH=ab415bbe79b5ea4457e808538dd9bbd5
BOT_TOKEN=7897904292:AAH5H5yf4PP_cu-Daws_o3AhEYKRjw922Sk
LOGGER_ID=-1002710617191
MONGO_DB_URI=mongodb+srv://knight4563:knight4563@cluster0.a5br0se.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=7290350162
STRING_SESSION=BQFlfOwAoa3PapR6_-zU5gYPKFHy7cE309xs0vkn_zgBZwkZSYIiL-JTdQD4V1UylLad01FDqmrMTKufwySd-k7GryBf8KjNS3W21CEiwebD8bg9MldM5Ay_vdsJPTXM29zIAVzlHm-kVXciZafEdqdaI_Favp_617uEAuG_X-5QZ1eS0pdpRYC3gV6VtZEnotCUaXLkD8T6MHXkbmFYCcdM89UfeUyIbL70VkAksvTYaTHkz6EcuoCC04DFN-AiNPPGnv4zC11SkjVpBtBuNWJJ7eJpVK1yssQZBboCNVQch-P89lGCY0ldAhizU-g8BnSoAqoKG5EnMioCsHar9JE3P1qytgAAAAHVSWW7AA
