API_ID=20346025
API_HASH=d34558796860a173cb5c918968fe85a0
BOT_TOKEN=8063486217:AAFj2ZIIk8ZD_8pUupmM2KcnGi7bZDPPRX0
LOGGER_ID=-1002507632106
MONGO_DB_URI=mongodb+srv://knight4563:knight4563@cluster0.a5br0se.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=6514377146
STRING_SESSION=BQE2dKkAq8eVFOn585XMnxkmqhqyVKVhE4wg_ix6r173v35IpTFwtSfHuUhmpLdSQJ1K9cD1lxBSnlpl4ZJAqJVjatvlUNcd6kyIzY3ZB1ApA4ChRui-WTKjoYf_qm1DuGNTwthz8ib_hGQJcG8vBoR1g6lpPqKpQtr3N3TiDmH-sVhBkpeLqCWZb003MrrKBhX9ZgknVnGTFb-BrrzNPhdV7sa1akRA7UDTlrkuQUnRMk1DwjyHhMR51amMNz76zEJM_1effLR6lzNz4oHrThHuq3_DWJLTdtwl2ow0Fb_tM4hz3RVf0chOzJSb1ZChvd0VFJovrAPuLn1IVfnXE9jBOEShagAAAAGrTgSxAA
